upstream backend_node {
  ip_hash;
  server 127.0.0.1:3000;
}

server {
  listen     443 ssl;
  server_name innova-wiki{{ inventory_file | regex_replace('^.*\/','') | regex_replace('production','') | regex_replace('staging','-staging') | regex_replace('development','-development') }}.clst01.innova-jp.net;

  #charset koi8-r;
  access_log  /usr/local/nginx/logs/innova-wiki.access.log;
  error_log  /usr/local/nginx/logs/innova-wiki.error.log;

  ssl_certificate      /etc/ssl/clst01.innova-jp.net.cert;
  ssl_certificate_key  /etc/ssl/clst01.innova-jp.net.key.pem;

  location / {
    root   /usr/share/nginx/html;
    index  index.html;

    if ( -f $request_filename ) {
      break;
    }

    if ( !-f $request_filename ) {
      proxy_pass http://backend_node;
      break;
    }
  }
}
